.nav_container{
    left: 0px !important;
}
.navtwo{
    width: 100% !important;
    /* left: 0px !important; */
}
.jotform_heading{
    margin: 35px 30px 0px 0px;
}
.font-weight-semibold {
    margin-top: 25px;
}

.footer{
    display: none;
}
#dropdownMenuButton1{
    display: flex;
    justify-content: space-between;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    /* width: 200px; */

